@import "./com/header";
@import "./com/footer";
@import "./com/inputs";
@import "./com/link";
@import "./com/btn";
@import "./com/spinner";
@import "./com/avatar";
@import "./com/feed-item";
@import "./com/post-actions";
@import "./com/thread";
@import "./com/friends-list";
@import "./com/profile-card";
@import "./com/profile-header";
@import "./com/profile-editor";
@import "./com/crop-popup";
@import "./com/following";
@import "./com/who-to-follow";

@import "./views/feed";
@import "./views/edit-profile";
@import "./views/new-user";
@import "./views/error";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: #e6ecf0;
}

body {
  background: #e6ecf0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

main {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding-top: ~"calc(47px + 15px)"; // 50px = height of header

  @media (max-width: 1000px) {
    left: 0;
  }
}

.loading-view,
.empty {
  background: #fff;
  padding: 15px;
  font-size: 0.8rem;
  color: var(--muted-text);
  font-weight: 300;
}

.new-posts-indicator {
  background: #fafafa;
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
  color: var(--theme-color);
  border-top: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;

  &:hover {
    background: #f5f8fa;
  }

  &:empty {
    display: none;
  }
}

.avatar-container {
  display: inline-block;
}

.text,
.name,
.bio {
  color: black;
}

.url {
  color: var(--theme-color);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.name {
  font-weight: 600;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

a {
  color: var(--theme-color);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

code {
  font-family: Consolas, 'Lucida Console', Monaco, monospace;
}

.view {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  .sidebar-col {
    position: relative;
    flex-basis: 40%;
    margin-right: 15px;
  }

  .main-col {
    flex-basis: 60%;

    &.center {

    }
  }
}

.timestamp {
  color: var(--muted-text);

  &:hover {

    .value {
      text-decoration: underline;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-top: 0;
}

.module {
  margin-bottom: 15px;
  padding: 15px;
  background: #fff;

  h2 {
    font-size: 1rem;
  }
}