.btn {
  display: inline-block;
  height: 28px;
  padding: 0 12px;
  background: none;
  border: 1px solid var(--theme-color);
  border-radius: 40px;
  color: var(--theme-color);
  cursor: pointer;
  font-size: .85rem;
  text-align: center;
  line-height: 27px;
  vertical-align: middle;

  &:hover {
    background: var(--theme-color-faded);
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--theme-color-box-shadow);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.follow-btn {
    background: transparent;
  }

  &.primary,
  &.follow-btn.following,
  &.new-reply,
  &.new-post {
    background: var(--theme-color);
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;

    &:hover {
      // TODO
    }

    &:disabled {
      background: var(--theme-color-box-shadow) !important;
      color: fadeout(#fff, 10%) !important;
      border: none !important;
    }
  }
}