.profile-card {
  -webkit-font-smoothing: antialiased;

  .avatar {
    width: 60px;
    height: 60px;
    margin-right: 5px;
  }

  .name {
    vertical-align: top;
  }

  .bio {
    line-height: 1.4;
    font-size: .8rem;
    color: #555;
  }

  .btn {
    font-size: 0.8rem;
  }
}